.description{}

.description__menu li{
  min-height: 252px;
  color:rgb(255,255,255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description__menu-state{
  font-size:18px;
  line-height: 24px;
}

.description__menu-text{
  font-size: 16px;
  line-height: 24px;
}

.description__menu--state,
.description__menu li > div > h4{
  text-transform: uppercase;
  color:rgb(255,255,255);
  text-align: center;
}

.description__menu-cursive{
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
}

.description__menu-presentation,
.description__menu-sweeties{
  background-color: rgb(39,16,70);
}

.description__menu-business{
  background-color: rgb(89,32,129);
}

.description__menu-locations{
  background: url("../jpg/City.jpg")  no-repeat center top/cover;
}

.description-wrapper{
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description__menu-relax{
  background:url('../jpg/Bathjpg.jpg')  no-repeat center top/cover;
}


@media(min-width:1229px){
  .description__menu{
    display: flex;
    flex-wrap: wrap;
  }

  .description__menu-sweeties{
  width: 30%;
  }

  .description__menu-business{
    width: 20%;
  }

  .description__menu-locations,
  .description__menu-presentation,
  .description__menu-relax{
    width: 50%;
  }
  .description__menu-relax{
    order: 4;
  }

  .description__menu-presentation{
    order:5;
  }

}

