.description{}

.description__menu li{
  min-height: 252px;
  color:rgb(255,255,255);
  text-align: center;
  position: relative;
  padding: 20px 20px 15px;
}

.description__menu-state{
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
}

.description__menu-text{
  font-size: 16px;
  line-height: 24px;
}

.description__menu--state,
.description__menu li > div > h4{
  text-transform: uppercase;
  color:rgb(255,255,255);
  text-align: center;
}

.description__menu-cursive{
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
}

.description__menu-presentation,
.description__menu-sweeties{
  background-color: rgb(39,16,70);
}

.description__menu-business{
  background-color: rgb(89,32,129);
}

.description__menu-locations{
  background: url("../jpg/City.jpg")  no-repeat center top/cover;
  position: relative;
}

.description-cover{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.description__menu-relax{
  background:url('../jpg/Bathjpg.jpg')  no-repeat center top/cover;
}

@media(min-width:1229px){
  .description__menu{
    display: flex;
    flex-wrap: wrap;
  }

  .description__menu-sweeties{
  width: 33%;
    padding: 66px 105px 56px 152px;
  }

  .description__menu-business{
    width: 17%;
    padding: 66px 19px 56px 16px;
  }

  .description__menu-locations,
  .description__menu-presentation,
  .description__menu-relax{
    width: 50%;
  }
  .description__menu-relax{
    order: 4;
  }

  .description__menu-presentation{
    order:5;
    padding: 43px 152px 51px 156px;
  }

  .description__menu-text{
    margin-top: 30px;
  }

    .description__menu-relax,
    .description__menu-locations{
      padding: 66px 188px 51px 198px;
    }

}

