.enter{
  min-height:252px;
  background-color:rgb(71,52,98);
  text-align: center;
  color:rgb(255,255,255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.enter__container{
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
