.feedback{
  min-height: 589px;
  background-color: rgb(39,16,70);
}

.feedback-form{
  width: 80%;
  min-height: 450px;
  background-color: rgb(255,255,255);
  margin:auto;
  border-radius:10px;
}

.feedback-form__item{}

.feedback-form__item--field{
  display: flex;
  align-items: center;
  justify-content: center;
}


.feedback-form__item--text{
  padding-top: 35px;
}

.feedback-form__item-form{
  width: 100%;
}

.feedback-form__item-form div{}

.feedback-form__item-form div>label{
  display: block;
  margin-top: 20px;
}

.form-text{
  display: block;
  width: 70%;
  margin:auto;
  background-color:rgb(232,232,232);
  height: 50px;
  border:1px solid rgb(39,16,70);
  padding-left: 30px;
  border-radius:5px;
}

.feedback-form__item--text{
  text-align: left;
}

.feedback-form__item--text h2{
  font-size: 20px;
  line-height: 24px;
  color:rgb(89,32,129);
  text-align: center;
}

.feedback-form__item--text p{
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  text-align: center;
}


.form-submit{
  display: block;
  margin: 0 auto 20px;
  width: 70%;
  height: 50px;
  border:none;
  background-color: rgb(106,39,155);
  color:rgb(255,255,255);
  text-transform: uppercase;
  font-weight: 400;
  border-radius:5px;
  font-size: 14px;
}

@media(min-width: 1229px){
  .feedback-form{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }

  .feedback-form__item--text h2{
    font-size: 36px;
    line-height: 36px;
    color:rgb(89,32,129);
  }

  .feedback-form__item--text{
    padding-top: 150px;
    padding-left: 50px;
  }

  .feedback-form__item{
    width: 40%;
  }

  .feedback-form__item--text p{
    margin-top: 20px;
  }

}

@media(max-width: 400px){
  .form-submit{
    font-size: 14px;
  }

  .feedback-form__state{
  font-size: 12px;
  }

}





