.navigation{
  text-transform: uppercase;
  width: 100%;
  padding-top: 20px;
}

.navigation-menu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-menu a{
  color:rgb(255,255,255);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.video-range li,
.video-state{
  color:rgb(255,255,255);
}

.video-state{
  text-align: left;
  margin-top: 150px;
  font-size:30px;
  font-weight: 400;
  text-transform: uppercase;
}

.video-range li{
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
}

.video-container{
  position: absolute;
  top:30%;
}

@media(min-width:1229px){
.video-container{
  position: absolute;
  width:40%;
  top:45%;
}

.video-state{
  font-size:40px;
}

.video-range li{
  font-size: 30px;
}

}
