.navigation{
  text-transform: uppercase;
  width: 100%;
  padding-top: 20px;
}

.navigation-menu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.navigation-menu a{
  color:rgb(255,255,255);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.navigation__range li,
.navigation__state{
  color:rgb(255,255,255);
  //text-transform: uppercase;
}

.navigation__state{
  text-align: left;
  margin-top: 150px;
  font-size:40px;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation__range{
  width: 70%;
  margin: 50px auto;
}

.navigation__range li{
  margin-top: 10px;
  font-size: 30px;
  line-height: 30px;
}


@media(min-width:1229px){
  .navigation{
    width:1000px;
    margin:auto;
  }
}
