.rooms{
  min-height: 364px;
  background-color: rgb(39,16,70);
  color:rgb(255,255,255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
}



@media (min-width:1229px) {
  .rooms{
    min-height: 150px;
  }
}
