.rooms{
  min-height: 364px;
  background-color: rgb(39,16,70);
  color:rgb(255,255,255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
}

.rooms__h3{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.rooms__h2{
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

.rooms__h4{
  font-size: 18px;
  line-height: 36px;
}


.rooms__text{
  font-size: 16px;
  line-height: 36px;
}


@media (min-width:1229px) {
  .rooms{
    min-height: 150px;
  }
}
