@font-face {
  font-family:'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 700;
  src:url('../../../fonts/TitilliumWeb-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Titillium Web',sans-serif;
  font-style:normal;
  font-weight:600;
  src: url("../../../fonts/TitilliumWeb-SemiBold.ttf") format('ttf');
}

@font-face {
  font-family:'Titillium Web',sans-serif;
  font-style: normal;
  font-weight: 300;
  src:url("../../../fonts/TitilliumWeb-Light.ttf") format('ttf');
}

@font-face {
  font-family:"Titillium Web",sans-serif;
  font-style: normal;
  font-weight: 400;
  src:url('../../../fonts/TitilliumWeb-Regular.ttf') format('ttf');
}